<!DOCTYPE html>
<html>

<head>
	<title itemprop='name'> {{ title }}</title>

	<meta charset="utf-8">
	<meta http-equiv='Content-type' content='text/plain; charset=x-user-defined' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimum-scale=1" />
	<meta name="apple-mobile-web-app-status-bar-style" content="purple-translucent">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name='description' content="{{ description }}" />

	<meta name="keywords" itemprop="keywords" content="{{ keywords }}" />

	<link rel='canonical' href='' itemprop='url' />

	<link rel="icon" sizes="192x192" href="/favico.ico" data-reactid="24">

	<meta name="theme-color" content="#db1174">
	
	<!-- HTTP -->
	<meta name="google-site-verification" content="5onw29QzEFUh_wayOn_9EdxfzH0csFOR4OGroaIHb-k" />

	<!-- HTTPS -->
	<meta name="google-site-verification" content="5onw29QzEFUh_wayOn_9EdxfzH0csFOR4OGroaIHb-k" />
	
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">

	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<style type="text/css">
		{{ pageCSS }}
	</style>

	<script type="text/javascript">

		function loadScript() {

			// No need of adding live reload script on live site
			if (location.hostname === 'www.jalpadance.com') {
				return
			}

			var lrHost = location.protocol + '//' + location.hostname + ':35729';
			var s = document.createElement('script');
			s.async = true;
			s.setAttribute('src', lrHost + '/livereload.js');
			document.body.appendChild(s);
		}

		window.onload = loadScript;
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105629408-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-121319602-1');
	</script>


	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
		}

		.logo-container {
			padding: 100px 0 20px;
		}

		.overlay-modal {
			position: fixed;
			overflow: hidden;
			background: rgba(0, 0, 0, 0.8);
			text-align: center;
			width: 100%;
			height: 100%;
			color: white;
		}
	</style>

	<link rel="icon" type="image/png" href="/favico.ico">
</head>

<body>


	<div class="content">

	</div>

	{{ mainContent }}

	<header>
		<div class="header-wrapper">
			<div class="logo-container">
				<img src="/images/logo.png">
			</div>


			<div class="hamberger-container">
				<button class="ham-berger">
					<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
				</button>
			</div>

			<div class="header-overlay"></div>

			<div class="header-contact">

				<ul>
					<li>
						<i class="fa fa-phone"></i>
						<span> <a href="tel:(678) 481-7207">(678) 481-7207 </a></span>
					</li>
					<li>
						<i class="fa fa-envelope"></i>
						<span> <a href="mailto:jalpa.dance.academy@gmail.com">jalpa.dance.academy@gmail.com </a></span>
					</li>
					<li>
						<a target="_blank" href="https://www.facebook.com/indiandanceform/">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://twitter.com/indiandanceform">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.linkedin.com/">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.instagram.com/jalpa.dance.academy/">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
				</ul>

			</div>

		</div>
	</header>


	<footer>
		<div class="footer-wrapper">

			<div class="coloumn">
				<div class="col-header">About Us</div>
				<div class="content">
					<div class="footer-logo-container">
						<img src="/images/logo.png" />
					</div>
					<div class="company-text">
						Jalpa Dance Academy was originally established in 2011 in Chicago southwest suburbs for all the dancers to find the best in them no matter what their age and experience is. 
					</div>
				</div>
			</div>

			<div class="coloumn">
				<div class="col-header">Navigation</div>
				<div class="content nav-links">
					
				</div>
			</div>

			<div class="coloumn">
				<div class="col-header">Address</div>
				<div class="content nav-links">
					<ul>				
						<li>
							<b>Suwanee:</b>
							<br/>
							6365 Read Road
							<br/>
							Suwanee, GA 30024
							<br/>
							Phone :
							<a href="tel:(678) 481-7207">
								(678) 481-7207
							</a>
						</li> 
						<li>
							<b>Buford:</b>
							<br/>
							4296 Old Suwanee Road
							<br/>
							Suite 4 Buford, GA 30518
							<br/>
							Phone :
							<a href="tel:(678) 481-7207">
								(678) 481-7207
							</a>
						</li> 
						<li>
							Email :
							<a href="mailto:Jalpa.dance.academy@gmail.com">
								jalpa.dance.academy@gmail.com
							</a>
						</li>			
						<li>
							Fax :
							<a href="tel:(678) 481-7207">
								(678) 481-7207
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="coloumn">
				<div class="col-header">Connect Us</div>
				<div class="content">
					<ul class="social-connection">
						<li>
							<a  target="_blank" href="https://www.facebook.com/indiandanceform/">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a  target="_blank" href="https://twitter.com/indiandanceform">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a  target="_blank" href="https://www.linkedin.com/">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a  target="_blank" href="">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>	
		</div>


		<div class="developer">
				© 2018 Jalpa Dance Academy. All Rights Reserved.
		</div>
	
	</footer>

		

	<!-- Start content loading -->
	<script type="text/javascript" src='/js/vendor/requirejs/require.js' data-main='/config.js'></script>
	<script type="text/javascript" src='/js/main.js'></script>
	<script type="text/javascript" src='/js/font-awesome.js'></script>
	<!-- content loading end -->

</body>

</html>