<!DOCTYPE html>
<html>

<head>
	<title itemprop='name'> {{ title }}</title>

	<meta charset="utf-8">
	<meta http-equiv='Content-type' content='text/plain; charset=x-user-defined' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimum-scale=1" />
	<meta name="apple-mobile-web-app-status-bar-style" content="purple-translucent">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name='description' content="{{ description }}" />

	<meta name="keywords" itemprop="keywords" content="{{ keywords }}" />

	<link rel='canonical' href='' itemprop='url' />

	<link rel="icon" sizes="192x192" href="/favico.ico" data-reactid="24">

	<meta name="theme-color" content="#db1174">
	
	<!-- HTTP -->
	<meta name="google-site-verification" content="5onw29QzEFUh_wayOn_9EdxfzH0csFOR4OGroaIHb-k" />

	<!-- HTTPS -->
	<meta name="google-site-verification" content="5onw29QzEFUh_wayOn_9EdxfzH0csFOR4OGroaIHb-k" />
	
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">

	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<style type="text/css">
		{{ pageCSS }}
	</style>

	<script type="application/ld+json">
		{{ websiteSchema }}
	</script>

	<script type="application/ld+json">
		{{ addressSchema }}
	</script>

	<script type="application/ld+json">
		{{ customerCare }}
	</script>

	<script type="application/ld+json">
		{{ socialProfile }}
	</script>


	<script type="text/javascript">

		function loadScript() {

			// No need of adding live reload script on live site
			if (location.hostname === 'www.naturalclinicmd.com') {
				return
			}

			var lrHost = location.protocol + '//' + location.hostname + ':35729';
			var s = document.createElement('script');
			s.async = true;
			s.setAttribute('src', lrHost + '/livereload.js');
			document.body.appendChild(s);
		}

		window.onload = loadScript;
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105629408-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-105629408-1');
	</script>


	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
		}

		.logo-container {
			padding: 100px 0 20px;
		}

		.overlay-modal {
			position: fixed;
			overflow: hidden;
			background: rgba(0, 0, 0, 0.8);
			text-align: center;
			width: 100%;
			height: 100%;
			color: white;
		}
	</style>

	<link rel="icon" type="image/png" href="/favico.ico">
</head>

<body>


	<div class="content">

	</div>

	{{ mainContent }}

	<header>
		<div class="header-wrapper">
			<div class="logo-container">
				<img src="/images/logo.png">
			</div>


			<div class="hamberger-container">
				<button class="ham-berger">
					<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
				</button>
			</div>

			<div class="header-overlay"></div>

			<div class="header-contact">

				<ul>
					<li>
						<i class="fa fa-phone"></i>
						<span>
							<a href="tel:727-753-8861">727-753-8861 </a>
						</span>
					</li>
					<li>
						<i class="fa fa-envelope"></i>
						<span>
							<a href="mailto:jalpa.dance.academy@gmail.com">jalpa.dance.academy@gmail.com </a>
						</span>
					</li>
					<li>
						<a target="_blank" href="https://www.facebook.com/indiandanceform/">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://twitter.com/indiandanceform">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.linkedin.com/company-beta/24426776/">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
				</ul>

			</div>

			<div class="schedule-appointment">
				FREE Consultation
			</div>

			<div class="menu-tab">

				<div class="group group-1">

					<ul>
						<li>
							<i class="fa fa-phone"></i>
							<span>
								<a href="tel:727-753-8861">
									New Port Richey : 727-753-8861
								</a>
							</span>
						</li>
						<li>
							<i class="fa fa-phone"></i>
							<span>
								<a href="tel:321-405-2090">
									Rockledge : 321-405-2090
								</a>
							</span>
						</li>
						<li>
							<i class="fa fa-fax"></i>
							<span>
								<a href="tel:888-849-6158">
									888-849-6158
								</a>
							</span>
						</li>
						<li>
							<i class="fa fa-envelope"></i>
							<span>
								<a href="mailto:jalpa.dance.academy@gmail.com">
									jalpa.dance.academy@gmail.com
								</a>
							</span>
						</li>
						<li>
							<a target="_blank" href="https://www.facebook.com/indiandanceform/">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/indiandanceform">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="https://www.linkedin.com/company-beta/24426776/">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
					</ul>

				</div>

				<div class="group group-2">

					<ul class="main-menu">


						<li class="" data-id="0" data-url="/">
							HOME
							<ul class="sub-menu">

							</ul>
						</li>


						<li class="active" data-id="1" data-url="">
							TEAM
							<ul class="sub-menu">

								<li class="sub-menu-item" data-url="team/doctors">
									Our Treatment Team
								</li>

							</ul>
						</li>


						<li class="" data-id="2" data-url="">
							MEDICAL MARIJUANA
							<ul class="sub-menu">

								<li class="sub-menu-item" data-url="medical-cannabis/terms-types">
									Terms and Types
								</li>

								<li class="sub-menu-item" data-url="medical-cannabis/medical-uses">
									Medical Uses
								</li>

							</ul>
						</li>


						<li class="" data-id="3" data-url="">
							PATIENTS AND REPRESENTATIVES
							<ul class="sub-menu">

								<li class="sub-menu-item" data-url="patients/eligibility">
									Patient Eligibility
								</li>

								<li class="sub-menu-item" data-url="patients/legal">
									Legal Representatives
								</li>

								<li class="sub-menu-item" data-url="patients/how-to-register">
									How to Register
								</li>

								<li class="sub-menu-item" data-url="patients/treatment-costs">
									Treatment Costs
								</li>

								<li class="sub-menu-item" data-url="patients/forms">
									Patient Intake Forms
								</li>

							</ul>
						</li>


						<li class="" data-id="4" data-url="">
							PRESCRIPTION
							<ul class="sub-menu">

								<li class="sub-menu-item" data-url="prescriptions/get-my-prescription">
									Getting My Prescription
								</li>

								<li class="sub-menu-item" data-url="prescriptions/filling-prescription">
									Filling My Prescription
								</li>

							</ul>
						</li>


						<li class="" data-id="5" data-url="">
							ADDITIONAL RESOURCES
							<ul class="sub-menu">

								<li class="sub-menu-item" data-url="research/info">
									Research Information
								</li>

								<li class="sub-menu-item" data-url="research/policy-issues">
									Policy Issues
								</li>

							</ul>
						</li>


						<li class="" data-id="6" data-url="contact-us">
							CONTACT US
							<ul class="sub-menu">

							</ul>
						</li>

					</ul>

				</div>

				<div class="schedule-appointment schedule-appointment-mobile">
					FREE Consultation
				</div>

			</div>

		</div>
	</header>

	<footer>
		<div class="footer-cities">
			<div class="footer-logo-container">
				<img src="/images/logo.png">
			</div>
			<div class="county-cities">

				<div class="col">
					<li> Pasco </li>

					Medical Marijuana in Aripeka | Medical Marijuana in Crystal Springs | Medical Marijuana in Dade City | Medical Marijuana
					in Holiday | Medical Marijuana in Hudson | Medical Marijuana in Lacoochee | Medical Marijuana in Land O Lakes | Medical
					Marijuana in New Port Richey | Medical Marijuana in Port Richey | Medical Marijuana in Saint Leo | Medical Marijuana
					in San Antonio | Medical Marijuana in Spring Hill | Medical Marijuana in Trilby | Medical Marijuana in Wesley Chapel
					| Medical Marijuana in Zephyrhills |

				</div>

				<div class="col">
					<li> Hillsborough </li>

					Medical Marijuana in Apollo Beach | Medical Marijuana in Balm | Medical Marijuana in Brandon | Medical Marijuana in Dover
					| Medical Marijuana in Durant | Medical Marijuana in Gibsonton | Medical Marijuana in Lithia | Medical Marijuana in
					Lutz | Medical Marijuana in Mango | Medical Marijuana in Odessa | Medical Marijuana in Plant City | Medical Marijuana
					in Riverview | Medical Marijuana in Ruskin | Medical Marijuana in Seffner | Medical Marijuana in Sun City | Medical
					Marijuana in Sun City Center | Medical Marijuana in Sydney | Medical Marijuana in Tampa | Medical Marijuana in Thonotosassa
					| Medical Marijuana in Valrico | Medical Marijuana in Wimauma |

				</div>

				<div class="col">
					<li> Hernando </li>

					Medical Marijuana in Bayport | Medical Marijuana in Brookridge | Medical Marijuana in Brooksville* | Medical Marijuana in
					Garden Grove | Medical Marijuana in Hernando Beach | Medical Marijuana in High Point | Medical Marijuana in Hill and
					Dale | Medical Marijuana in Istachatta | Medical Marijuana in Lake Lindsey | Medical Marijuana in Masaryktown | Medical
					Marijuana in Nobleton | Medical Marijuana in North Brooksville | Medical Marijuana in North Weeki Wachee CDP | Medical
					Marijuana in Pine Island | Medical Marijuana in Ridge Manor | Medical Marijuana in South Brooksville | Medical Marijuana
					in Spring Hill | Medical Marijuana in Spring Lake | Medical Marijuana in Timber Pines | Medical Marijuana in Weeki Wachee*
					| Medical Marijuana in Weeki Wachee Gardens | Medical Marijuana in Wiscon |

				</div>

				<div class="col">
					<li> Pinellas </li>

					Medical Marijuana in Bay Pines | Medical Marijuana in Belleair Beach | Medical Marijuana in Clearwater | Medical Marijuana
					in Clearwater Beach | Medical Marijuana in Crystal Beach | Medical Marijuana in Dunedin | Medical Marijuana in Indian
					Rocks Beach | Medical Marijuana in Largo | Medical Marijuana in Oldsmar | Medical Marijuana in Ozona | Medical Marijuana
					in Palm Harbor | Medical Marijuana in Pinellas Park | Medical Marijuana in Safety Harbor | Medical Marijuana in Saint
					Petersburg | Medical Marijuana in Seminole | Medical Marijuana in Tarpon Springs |

				</div>

				<div class="col">
					<li> Brevard </li>

					Medical Marijuana in Cape Canaveral | Medical Marijuana in Cocoa | Medical Marijuana in Cocoa Beach | Medical Marijuana in
					Grant | Medical Marijuana in Indialantic | Medical Marijuana in Malabar | Medical Marijuana in Melbourne | Medical Marijuana
					in Melbourne Beach | Medical Marijuana in Merritt Island | Medical Marijuana in Mims | Medical Marijuana in Palm Bay
					| Medical Marijuana in Rockledge | Medical Marijuana in Satellite Beach | Medical Marijuana in Scottsmoor | Medical
					Marijuana in Sebastian | Medical Marijuana in Sharpes | Medical Marijuana in Titusville |

				</div>

			</div>
		</div>

		<div class="footer-wrapper">

			<div class="coloumn">
				<div class="col-header">About Us</div>
				<div class="content">
					<div class="footer-logo-container">
						<img src="/images/logo.png">
					</div>
					<div class="company-text">
						Natural Clinic,MD is committed to provide proper care and guidance for medical cannabis in every step of process according
						to Florida Law
					</div>
				</div>
			</div>

			<div class="coloumn">
				<div class="col-header">Navigation</div>
				<div class="content nav-links">
					<ul>

						<li>
							<a href=""></a>
							Home

						</li>

						<li>
							<a href="/team/doctors">
								Team
							</a>
						</li>

						<li>
							<a href="/medical-cannabis/terms-types">
								Medical Marijuana
							</a>
						</li>

						<li>
							<a href="/patients/eligibility">
								Patients and Representatives
							</a>
						</li>

						<li>
							<a href="/prescriptions/get-my-prescription"></a>
							Prescription

						</li>

						<li>
							<a href="/research/info">
								Additional Resources
							</a>
						</li>

						<li>
							<a href="/contact-us">
								Contact Us
							</a>
						</li>

					</ul>
				</div>
			</div>

			<div class="coloumn">
				<div class="col-header">Address</div>
				<div class="content nav-links">
					<ul>
						<li>
							<b>New Port Richey:</b>
							<br> 4766 Rowan Rd
							<br> New Port Richey FL 34653
							<br> Phone :
							<a href="tel:727-753-8861">
								727-753-8861
							</a>
						</li>
						<li>
							<b>Rockledge:</b>
							<br> 577 Barnes Blvd #400
							<br> Rockledge, FL 32955
							<br> Phone :
							<a href="tel:321-405-2090">
								321-405-2090
							</a>
						</li>
						<li>
							Email :
							<a href="mailto:jalpa.dance.academy@gmail.com">
								jalpa.dance.academy@gmail.com
							</a>
						</li>
						<li>
							Fax :
							<a href="tel:888-849-6158">
								888-849-6158
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="coloumn">
				<div class="col-header">Connect Us</div>
				<div class="content">
					<ul class="social-connection">
						<li>
							<a target="_blank" href="https://www.facebook.com/indiandanceform/">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/indiandanceform">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="https://www.linkedin.com/company-beta/24426776/">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="developer">
			© 2017 Natural Clinic, MD. All Rights Reserved.
		</div>
		/footer>

		<!-- Start content loading -->
		<script type="text/javascript" src='/js/vendor/requirejs/require.js' data-main='/config.js'></script>
		<script type="text/javascript" src='/js/main.js'></script>
		<script type="text/javascript" src='/js/font-awesome.js'></script>
		<!-- content loading end -->

</body>

</html>